<!-- Begin Team List-->
<section id="committees" class="committees">
    <div class="content-wrapper">
        <!-- 
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.teamBlockTitle }}</h3> 
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutUs }}</p>
        </div>
        -->
        <div class="col-lg-6 col-lg-offset-3 text-center">
            <h4 class="text-left"><a name="sciteam">Scientific Committee</a></h4>

            <div class="text-left">
                {% assign sorted_sciTeam = site.data.committees | sort:"surname" %}
                {% for teamMember in sorted_sciTeam %} {% if teamMember.sciTeam != null %}
                <a href="{{ teamMember.link }}" target="_blank">{{ teamMember.name }}
                    <span>{{ teamMember.surname }}</span>
                </a>
                <span class="affiliation">({{ teamMember.affiliation }})</span>
                <br />
                {% endif %}{% endfor %}
            </div>
        </div>
        <div class="col-lg-6 col-lg-offset-3 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0"><a name="coordteam">Coordinating Committee</a></h4>
            {% for teamMember in site.data.committees %} {% if teamMember.coordTeam != null %}
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect" data-toggle="modal" data-target="#speakerDetail-{{ forloop.index }}">
                    {% if teamMember.link != null %}
                    <a href="{{ teamMember.link }}" target="_blank">
                    {% endif %}
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: teamMember.thumbnailUrl }})">
                        <div class="overlay solid-overlay"></div>
                        <figcaption>
                            <div class="col-md-12 col-xs-12 text-left">
                                <h2 class="name">{{ teamMember.name }} <span>{{ teamMember.surname }}</span></h2>
                                <div class="clearfix"></div>
                                <span class="position">{{ teamMember.affiliation }}</span>
                            </div>
                        </figcaption>
                    </figure>
                    {% if teamMember.link != null %}
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
        <div class="col-lg-6 col-lg-offset-3 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0" id=""><a name="orgateam">Organizing Committee</a></h4>
            {% for teamMember in site.data.committees %} {% if teamMember.orgaTeam != null %}
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect" data-toggle="modal" data-target="#speakerDetail-{{ forloop.index }}">
                    {% if teamMember.link != null %}
                    <a href="{{ teamMember.link }}" target="_blank">
                    {% endif %}
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: teamMember.thumbnailUrl }})">
                        <div class="overlay solid-overlay"></div>
                        <figcaption>
                            <div class="col-md-12 col-xs-12 text-left">
                                <h2 class="name">{{ teamMember.name }} <span>{{ teamMember.surname }}</span></h2>
                                <div class="clearfix"></div>
                                <span class="position">{{ teamMember.affiliation }}</span>
                            </div>
                        </figcaption>
                    </figure>
                    {% if teamMember.link != null %}
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</section>
<!-- End Team List -->
