<header id="top-header" class="top-header">
    <div class="overlay white-solid"></div>
    <svg id="menu-trigger" class="menu-trigger icon icon-menu visible-xs" viewBox="0 0 32 32">
        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-menu"></use>
    </svg>
    <div id="logo-xs" class="logo-navbar logo-header logo logo-light visible-xs"></div>
    <nav class="navbar st-menu st-effect" id="menu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9 col-md-10">
                    <a href="{{ site.baseurl }}/" id="logo-header" class="logo-header">
                        <div class="logo logo-light hidden-xs"></div>
                    </a>
                    <p class="visible-xs"><br /></p>
                <div class="navbar-nav-container">
                {% for navigationLink in site.navigationLinks %}
                <ul class="navbar-nav">
                    <li>
                        <a class="{% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}current{% endif %}"  href="{% if navigationLink.permalink != null %}{{ navigationLink.permalink | prepend: site.baseurl }}{% else %}{{ navigationLink.link }}{% endif %}" {% if navigationLink.link != null %}target="_blank"{% endif %}>{{ navigationLink.text }}</a>
                    </li>
                </ul>
                {% endfor %}
                </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div>
                    {% for rightNavigationButton in site.rightNavigationButtons %}
                    <ul class="navbar-nav navbar-right">
                        <li>
                            <a href="{% if rightNavigationButton.permalink != null %}{{ rightNavigationButton.permalink | prepend: site.baseurl }}{% else %}{{ rightNavigationButton.link }}{% endif %}" class="hidden-xs" {% if rightNavigationButton.link != null %}target="_blank"{% endif %}>{{ rightNavigationButton.text }}</a>
                        </li>
                    </ul>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <ul id="bottom-navlinks" class="bottom-navlinks visible-xs">
                {% for bottomNavigationLink in site.bottomNavigationLinks %}
                <li>
                    <a href="{% if bottomNavigationLink.permalink != null %}{{ bottomNavigationLink.permalink | prepend: site.baseurl }}{% else %}{{ bottomNavigationLink.link }}{% endif %}" {% if bottomNavigationLink.link != null %}target="_blank"{% endif %}>{{ bottomNavigationLink.text }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>
