<div class="content-wrapper text-left">
    <h4 class="text-left">Invited Speakers</h4>

    {% assign sorted_data_sessions = site.data.sessions | sort:"id" %}
    {% for presentation in sorted_data_sessions %}
        {% if presentation.types contains "invitedtalk" %}
                <div class="col-sm-7 col-sm-offset-1">
                    {% for speaker in presentation.speakers %}
                        {% assign person = site.data.speakers | where:"id", speaker | first %}
                        <div class="row name">
                            <h6>
                                <a href="{{ person.link }}" target="_blank">{{ person.name }}
                                    <span>{{ person.surname }}</span>
                                </a>
                                <br class="visible-xs" />
                                {% if person.affiliation != null %}
                                    <span class="affiliation">({{ person.affiliation }})</span>
                                {% endif %}
                            </h6>
                        </div>
                    {% endfor %}
                    {% if presentation.title %}
                        <div class="row">
                            <div class="title">
                                <span>{{ presentation.title }}</span>
                            </div>
                            {% if presentation.doihtmls %}
                                <div>
                                {% for doiobj in presentation.doihtmls %}
                                    {% for doi in doiobj %}
                                    <span>{{ doi[0] }}: {{ doi[1] }}</span>
                                    {% endfor %}
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if presentation.abstract %}
                        <div class="row abstract">
                            <span>{{ presentation.abstract | newline_to_br | hyphenate }}</span>
                        </div>
                    {% endif %}
                </div>
                <div class="hidden-xs col-sm-3">
                {% for speaker in presentation.speakers %}
                    {% assign person = site.data.speakers | where:"id", speaker | first %}
                    {% if person.thumbnailUrl != null %}
                        <div class="zoe-effect">
                            {% if person.link != null %}
                                <a href="{{ person.link }}" target="_blank">
                            {% endif %}
                            <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: person.thumbnailUrl }})">
                            </figure>
                            {% if person.link != null %}
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            <div class="clearfix"></div>
            <br />
        {% endif %}
    {% endfor %}
</div>
<div class="clearfix"></div>
