<div class="content-wrapper text-left">
    <h4 class="text-left">Invited Speakers</h4>

    <h6 class="text-left"><small><a href="" target="_blank">A. Seza Doğruöz</a></small></h6>
    <div class="text-left">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1 col-sm-8 col-sm-offset-0">
                <span class="title">Title and Abstract: Information to appear</span>
            </div>
        </div>
    </div>

    <h6 class="text-left"><small><a href="http://www.eurac.edu/en/research/autonomies/commul/staff/pages/staffdetails.aspx?persId=17424" target="_blank">Aivars A. Glaznieks</a></small></h6>
    <div class="text-left">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1 col-sm-8 col-sm-offset-0">
                <span class="title">Title: Think global, write local – patterns of writing dialect on SNS</span>
            </div>
            <div class="col-xs-5 col-xs-offset-1 col-sm-8 col-sm-offset-0">
                <span class="abstract">Abstract: Information to appear</span>
            </div>
        </div>
    </div>
</div>
